.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1.15rem 2.75rem;
    font-weight: var(--fw-medium);
    border-radius: 3rem;
    transition: 0.3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}