.giving {
    &__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem 1.5rem;
    }

    &__content {
        text-align: center;
    }

    &__img {
        width: 100px;
        transition: 0.3s;
    }

    &__title {
        font-size: var(--fs-lg);
        margin-bottom: var(--space-1);
    }

    &__description {
        font-size: var(--fs-sm);
    }

    &__img:hover {
        transform: translateY(-0.25rem);
    }
}